﻿body {
    padding-top: 60px;
    font-family: "Open Sans";
}

.navbar .user-image {
    width: 45px;
    margin: 2px;
    margin-right: 2rem;
}

.user-column {
    width: 110px;
}

.user-image {
    width:50px;
}

.users-panel {
    width: 100px;
}

.users-panel .panel-body {
    padding:0;
    overflow-y: auto;
}

.users-panel .list-group{
    margin: 0;
}

.users-panel .list-group-item {
    cursor: pointer;
    border-radius: 0;
}

.users-panel .list-group-item:hover {
    background-color:lightgray;
}

.user-name {
    font-weight:bold;
}

.users-panel .user-status{
    font-size: smaller;
    color: darkslategray;
    text-wrap:none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

@media screen and (min-width: 769px) {
    .users-panel {
        width: 180px;
    }

    .user-column{
        width: 200px;
    }
}

.user-thumbnail {
    width: 185px;
    display: inline-block;
    margin: 2px;
}

.user-thumbnail .user-status {
    padding: 3px;
}

.status-time {
    font-size: smaller;
    color: darkslategray;
}

.status-input-group .glyphicon {
    top: 0;
}

.status-input-group #status-input{
    height: 47px;
}

.status-input-group {
    margin: 2px;
}

.well {
    padding: 5px;
}

.user-column{
    background-color: yellow;
}

.status-container{
    min-width: 200px;
    background-color: blue;
}